.places__place {
    display: grid;
    grid-template-areas:
    "places__title places__website"
    "places__image places__text";
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px){
    .places__place{
        grid-template-columns: minmax(440px, 1fr);
        gap: 28px;
        max-width: 928px;
    } 

}

@media screen and (max-width: 1023px){
    .places__place{    
        grid-template-columns: minmax(352px, 1fr);
        margin-bottom: 50px;
        max-width: 720px;
        gap: 28px;
    } 

}

@media screen and (max-width: 767px){
    .places__place{
        grid-template-areas:
        "places__title"
        "places__website"
        "places__image"
        "places__text";
        grid-template-columns: minmax(auto, 767px);
        margin-bottom: 50px;
        gap: 32px;

    } 

}